.badge.badge {
    padding: 0 4px;
    background: #999;
    color: #fff;
    align-self: center;
    border-radius: 2px;
    font-size: 10px;
    line-height: 12px;
    height: 14px;
    vertical-align: middle;
    font-weight: bold;
}

