.icon.icon,
.icon.icon--md {
    width: var(--size-md);
    height: var(--size-md);
    vertical-align: middle;
}

.icon.icon--xs {
    width: var(--size-sm);
    height: var(--size-sm);
}

.icon--invert {
    fill: #fff;
}
