.keyvals.keyvals {
    display: table;
    width: 100%;
}

.keyvals__body {
    display: table;
    width: 100%;
}

.keyval.keyval {
    display: table-row;
}

.keyval .keyval__key {
    display: table-cell;
    padding: var(--size-xs) var(--size-md) var(--size-xs) 0;
    width: 33.33%;
}

.keyval .keyval__val {
    display: table-cell;
    padding: var(--size-xs) 0;
}
